@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Gentium Book Plus', serif;
  background: linear-gradient(to bottom right, #6a0dad, #000000, #6a0dad); /* purple-950 to black to purple-950 */
  color: white; /* Ensures text remains visible against dark background */
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Gentium Book Plus', serif; /* Apply font globally to headers and paragraphs */
}
