@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --animate-mymove: mymove 1s ease-in-out;
  @keyframes mymove {
    0% {
      filter: brightness(0.3);
    }
    100% {
      filter: brightness(1);
    }
  }
  --font-display: "Gentium Book Plus";
}

@layer base {
  html {
    font-size: 16px;
  }
  body {
    font-family: var(--font-display);
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
  }
  p {
    margin-bottom: 1rem;
  }
}
